.auth-page {
	margin: 30px auto 0;
	width: 850px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 800px) {
		width: 90%;
		align-items: center;
		flex-direction: column;

		> *:first-child {
			margin-bottom: 50px;
		}
	}
}