.collection-item {
	position: relative;
	width: 22vw;
	display: flex;
	flex-direction: column;
	height: 350px;
	align-items: center;

	.image {
		width: 100%;
		height: 95%;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;
	}

	.custom-button {
		position: absolute;
		top: 255px;
		width: 80%;
		display: none;
		opacity: 0.7;
	}

	&:hover {
		.image {
			opacity: 0.8;
		}

		.custom-button {
			display: flex;
			opacity: 0.85;
		}
	}

	.collection-footer {
		width: 100%;
		height: 5%;
		display: flex;
		justify-content: space-between;
		font-size: 18px;

		.name {
			width: 90%;
			margin-bottom: 15px;
		}

		.price {
			width: 10%;
		}
	}
}