.log-in {
	width: 380px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}

	@media screen and (max-width: 800px) {
		width: 100%;

		.buttons {
			justify-content: center;

			.custom-button {
				transform: scale(0.90);
			}

			.custom-button:last-of-type {
				font-size: 11.8px;
			}
		}

	}
}